body{
  background: linear-gradient(130deg, rgba(255,0,0,1) 0%, rgba(0,0,255,1) 100%);
  min-height: 100vh;
}

.container {
  text-align: center;
}

.col-lg-5 {
  border: double 10px;
  border-radius: 100%;
  padding: 20px;

}

.player1 {
  background-color: red;
  color: white;
  }

.player2 {
  background-color: blue;
  color: white;
}

.buttons {
  text-align: left;
}

.buttons2 {
  text-align: right;
}

.countBG {
  background-color: white;
  border-radius: 100%;
  text-align: center;
}
